html {
    scroll-behavior: smooth;
}

#double-column {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

.fix_body {
    height: 240px;
    overflow: auto;
}

.project-hr {
    width: 90%;
}

/* Scrollbar styles */
div ::-webkit-scrollbar {
width: 12px;
height: 12px;
}

div ::-webkit-scrollbar-track {
border: none;
border-radius: 10px;
}

div ::-webkit-scrollbar-thumb {
background : none;
border-radius: 10px;
}

div ::-webkit-scrollbar-thumb:hover {
background: none;
}
